.contents {
    max-width: 1780px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 120px;
}

@media screen and (max-width: 1024px) {
    .contents {
        padding-bottom: 40px;
    }
}
