.section {
    &__title {
        margin-bottom: 25px;
        font-size: 22px;
        font-weight: 600;
        color: #222;
    }
    &--product {
        .product {
            ul {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}
