@font-face {
    font-family: "NotoSansKR";
    src: local(※), url(../../public/fonts/NotoSansKR-Thin.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-Thin.woff2) format("woff2");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※),
        url(../../public/fonts/NotoSansKR-ExtraLight.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-ExtraLight.woff2) format("woff2");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※), url(../../public/fonts/NotoSansKR-Light.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-Light.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※),
        url(../../public/fonts/NotoSansKR-Regular.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※), url(../../public/fonts/NotoSansKR-Medium.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※),
        url(../../public/fonts/NotoSansKR-SemiBold.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-SemiBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※), url(../../public/fonts/NotoSansKR-Bold.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※),
        url(../../public/fonts/NotoSansKR-ExtraBold.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-ExtraBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "NotoSansKR";
    src: local(※), url(../../public/fonts/NotoSansKR-Black.woff) format("woff"),
        url(../../public/fonts/NotoSansKR-Black.woff2) format("woff2");
    font-style: normal;
    font-weight: 900;
}
