@import "./reset.scss";
@import "./font.scss";

.container {
    font-family: "NotoSansKR", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

.wrap {
    padding-top: 220px;
}

.product {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 70px;
        li {
            img {
                width: 100%;
            }
        }
    }
}

.section {
    padding-bottom: 120px;
    &--kv {
        padding-bottom: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
    &--product {
        .product {
            ul {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}

.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
