@import "./reset";
@import "./font";
@import "./button";

select {
    appearance: none;
    max-width: 100%;
    width: 100%;
    height: 40px;
    padding: 0 30px 0 15px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background: url(../../public/images/icons/icon_select.png) no-repeat right
        10px center;
    background-size: 14px 8px;
}

.container {
    font-family: "NotoSansKR", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

.wrap {
    padding-top: 220px;
}

.product {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 70px;
        li {
            img {
                width: 100%;
            }
        }
    }
}

.section {
    padding-bottom: 120px;
    &--kv {
        padding-bottom: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
    &--product {
        .product {
            ul {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}

.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.detail-tab {
    margin-bottom: 40px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            flex: 1;
            a {
                display: block;
                line-height: 60px;
                color: #9a9a9a;
                border-bottom: 1px solid #e0e0e0;
                text-align: center;
            }
            &.active {
                a {
                    border: 1px solid #111;
                    border-bottom: none;
                    color: #1a1a1a;
                    border-bottom: none;
                }
            }
            &:first-child {
                &.active {
                    a {
                        border-left: none;
                    }
                }
            }
            &:last-child {
                &.active {
                    a {
                        border-right: none;
                    }
                }
            }
        }
    }
}

.quantity-control {
    display: inline-flex;
    justify-content: center;
    > button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    &__view {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 30px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
}
